@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.inputWrapper {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50%;
}

#input {
  width: 80%;
  height: 25px;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  padding: 14px;
  color: inherit;
  font-size: 42px;
  font-family: 'Merriweather', serif;
}

#message {
  text-align: center;
  width: 100%;
  height: 50%;
  padding-top: 5vh;
  font-family: 'Open Sans', sans-serif;
}
